%section#footer
  %ul.icons
    %li
      = link_to "https://www.facebook.com/thejoehale", class: "fa-facebook", target: "_blank" do
        %span.label Facebook
    %li
      = link_to "https://www.twitter.com/joehale", class: "fa-twitter", target: "_blank" do
        %span.label Twitter
    %li
      = link_to "https://www.linkedin.com/in/thejoehale", class: "fa-linkedin", target: "_blank" do
        %span.label LinkedIn
    %li
      = link_to "https://github.com/percipio", class: "fa-github", target: "_blank" do
        %span.label GitHub
  %p.copyright
    © #{copyright_notice(2008)} #{app_name}
    Template by: #{link_to "HTML5 UP", "http://html5up.net", target: "_blank"}.
