%section#sidebar
  / Intro
  = render 'layouts/intro'
  / Featured sodas
  = render 'layouts/featured_sodas'
  / Featured Bottler
  = render 'layouts/featured_bottler'
  / About
  = render 'layouts/about'
  / Footer
  = render 'layouts/footer'
